/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #000c17;
  }

  *::-webkit-scrollbar-thumb {
    background-color:#ffffff;
    /* border-radius: 8px; */
    border: 1px solid #ffffff;
  }

  .ant-tabs-content {
    height: 100%;
  }